nvim/.config/nvim/after/plugin/work-*.lua
nvim/.config/nvim/lua/miles/dadbod_connection_helpers.lua
nvim/.config/nvim/lua/miles/work-commands.lua
nvim/.config/nvim/.luarc.json
zsh/.oh-my-zsh/custom/
bin/.local/bin/create_xgps_account
bin/.local/bin/start-all-cloudsql-proxies
bin/.local/bin/cloud-sql-proxy
bin/.local/bin/fd
bin/.local/bin/kbc*
bin/.local/bin/create-jira-tickets.bash
bin/.local/bin/jira-refresh.bash
bin/.local/bin/port-scanner.bash
bin/.local/bin/start-all-cloudsql-proxies.bash
